# Aula 2 - Warm-up de Python e Numpy

### Treinando conceitos de Tupla

#### W2.4 Crie uma tupla com os números inteiros entre 0 e 10. Crie a tupla manualmente, sem nenhum laço(loop).

In [1]:
# Faça aqui
tp = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Faça uma iteração sobre a tupla da célula anterior e 
# imprima o valor de cada elemento elevado ao quadrado.
for x in tp: print(x*x)

0
1
4
9
16
25
36
49
64
81
100

### Treinando conceitos de Set

In [ ]:
# Considere os seguintes conjuntos
c1 = {1, 2, 3, 4, "a", "b", "c"}
c2 = {3, 4, 5, 6, "a", "e"}

#### W2.5 Escreva um código que cria a união dos conjuntos c1 e c2

In [ ]:
# Faça aqui
un = c1 | c2
print(un)

{1, 2, 3, 4, 5, 'a', 6, 'c', 'b', 'e'}

#### W2.6 Escreva um código que cria a intersecção dos conjuntos c1 e c2

In [ ]:
# Faça aqui
inter = c1 & c2
print(inter)

{3, 4, 'a'}

### Treinando conceitos de dicionário (dict) em python

#### W2.7 Criar um dicionário que represente o conteúdo da tabela abaixo

| Nome       | Endereço     | Telefone     |
| :------------- | :----------: | -----------: |
|  Jose da Silva | Rua 2, n. 39   | 119865563    |

In [ ]:
# Faça aqui
dict1 = {'Nome': 'Jose da Silva', 'Endereço': 'Rua 2, n. 39', 'Telefone': 119865563 }

#### W2.8 Jose da Silva mudou seu número de telefone para 1187662330. Altere este valor no dicionário que você acabou de criar

In [ ]:
# Faça aqui
dict1.update({'Telefone':1187662330 })
print( dict1)

{'Nome': 'Jose da Silva', 'Endereço': 'Rua 2, n. 39', 'Telefone': 1187662330}

#### W2.9 Crie um atributo CPF no dicionário da célula acima e adicione o CPF do Jose da Silva: 495.152.344-90

In [ ]:
# Faça aqui
dict1['CPF'] = '495.152.344-90'
print(dict1)

{'Nome': 'Jose da Silva', 'Endereço': 'Rua 2, n. 39', 'Telefone': 1187662330, 'CPF': '495.152.344-90'}

#### W2.10 Remova o atributo Endereço desse dicionário

In [ ]:
# Faça aqui
del dict1['Endereço']
print(dict1)

{'Nome': 'Jose da Silva', 'Telefone': 1187662330, 'CPF': '495.152.344-90'}

#### W2.11 Criar uma lista de dicionários que represente o conteúdo da tabela abaixo

| Nome       | Endereço     | Telefone     | CPF |
| :------------- | :----------: | -----------: | -----------: |
|  Jose da Silva | Rua 2, n. 39   | 119865563    | 495.152.344-90
|  Roberto da Araujo | Av 2, n. 2010   | 389912353    | 755.223.432-10
|  Maria Almeida | Rua Jau, n. 309   | 139845162    | 131.223.415-12
|  Joaquim Pereira | Av Sete de Setembro, n. 5240   | 329912633    | 456.214.616-67

In [ ]:
# Faça aqui

#### W2.12 Considerando a lista de dicionarios do exercicio anterior, remova o dicionário do Jose da Silva desta lista.

In [ ]:
# Faça aqui

#### W2.13 Considerando a lista de dicionarios do exercicio anterior, usando um loop, remova todos os telefones desta lista de dicionários

In [ ]:
# Faça aqui

### Treinando a função zip

#### W2.14 Crie um código que execute as instruções solicitadas abaixo

In [ ]:
# Considere as seguintes listas
letras = ["Jan", "Fev", "Mar"]
numeros = [1000, 2000, 3000]

# Usando a função zip e um loop do tipo for, crie um dicionário cuja chave sejam 
# os elementos da lista letras e o valor os elementos da lista numeros
# Resultado esperado: {"Jan": 1000, "Fev": 2000, "Mar": 3000}

### Treinando instruções inline e list comprehension

#### W2.15 Escreva uma instrução if else na forma inline que teste o tamanho de uma string e retorne True caso o seu tamanho seja maior que 5, e Falso caso contrário.
#### Dica - Sintaxe: valor_se_verdadeiro if condicao else valor_se_falso

In [ ]:
# Faça aqui

#### W2.16 Escreva um list comprehension, ou seja, uma instrução de loop (for) na forma inline que gere a lista [1, 4, 9, 16, 25, 36, 49, 64,  81, 100]
#### Dica - Sintaxe: [ OPERACAO_COM_X for X in SEQUENCIA ]

In [ ]:
# Faça aqui

#### W2.17 Escreva um list comprehension, ou seja, uma instrução de loop (for) na forma inline que gere a lista [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
#### Dica - Sintaxe: [ OPERACAO_COM_X for X in SEQUENCIA ]

In [ ]:
# Faça aqui

#### W2.18 Escreva um dict comprehension, ou seja, uma instrução de loop (for) na forma inline que gere um dicionário. O dicionário deve conter palavras nas suas chaves e nos valores, os respectivos tamanhos (quantidade de letras) das suas chaves.
#### Exemplo: {"carro": 5, "moto": 4, "trem": 4, "aviao": 5, "bicicleta": 9}

In [ ]:
palavras = ["carro", "moto", "trem", "aviao", "bicicleta"]
# Faça aqui

## NumPy Arrays

In [ ]:
# Importe a biblioteca numpy
import numpy as np

### Treinando a criação de arrays numpy

#### W2.19 Execute as instruções da célula abaixo

In [ ]:
# 1) Crie um array unidimensional a partir da lista [6, 7.5, 8, 0, 1] e imprima o tipo do dado armazenado nele.

# 2) Crie um array bidimensional a partir da lista [[1, 2, 3, 4], [5, 6, 7, 8]] e imprima o shape (forma) dele.

# 3) Crie um array unidimensional de zeros com 10 elementos.

### Treinando conversão de tipos (cast)

#### W2.20 Realize a conversão de tipos especificada na célula abaixo

In [ ]:
# Considere o seguinte array
num_str = np.array(['1.25', '-9.6', '42'], dtype=np.string_)
# 1) Converta os dados do array num_str para float

# 2) Converta os dados do array num_str para int

# 3) Imprima o tipo do dado do array que foi convertido para inteiro

### Treinando operações vetorizadas em ndarrays
#### W2.21 Sem utilizar laços (loops), execute as instruções da célula abaixo

In [ ]:
# Considere o seguinte array
arr1 = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])
arr2 = np.array([[9, 12, 13, 14], [15, 16, 17, 18]])

# 1) Multiplique todos os elementos do array arr1 por 10

# 2) Eleve ao quadrado todos os elementos do arr1

# 3) Calcule a hipotenusa de triangulos cujos catetos estão definidos nos arrays arr1 e arr2.
#    Ou seja, calcule a raiz quadrada da soma dos quadrados dos elementos de arr1 e arr2.

### Treinando a seleção de elementos (slicing) em arrays numpy

#### W2.22 Sem utilizar laços (loops), execute as instruções da célula abaixo

In [ ]:
# Considere o seguinte array
arr3 = np.array([[1, 2, 3, 4, 10, 11, 12, 13], [5, 6, 7, 8, 10, 11, 12, 13],
                [1, 2, 3, 4, 10, 11, 12, 13], [5, 6, 7, 8, 10, 11, 12, 13]])

# 1) Selecione e imprima os elementos que estão nas colunas de índice 0 e 1 
#    de todas as linhas desse array bidimensional

# 2) Atribua o valor 1000 a todos os elementos que estão nas colunas de índice 0 e 1 
#    de todas as linhas desse array bidimensional


# 3) Selecione e imprima sos elementos que estão nas colunas de índice 1 até a penúltima coluna
# de todos os elementos desse array bidimensional


# 4) Atribua zero para todos os elementos que estão nas linhas ímpares do array arr3

### Treinando outras funções numpy

#### W2.23 Usando a função np.sum, calcule a soma dos elementos de cada linha do array criado abaixo.

In [ ]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# Faça aqui

#### W2.24 Usando a função np.mean, calcule a média dos elementos de cada coluna do array criado abaixo.

In [ ]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# Faça aqui

#### W2.25 Usando a função np.any, mostre quais colunas do array criado abaixo possuem pelo menos um valor diferente de zero.

In [ ]:
np.array([[0, 0, 0], [0, -5, -6], [0, -8, -9]])
# Faça aqui

#### W2.26 Usando a função np.argmax, retorne o índice das colunas que contém o valor máximo de cada linha array criado abaixo.

In [ ]:
arr2d = np.array([[10, 2, 3], [4, 5, 6], [7, 8, 9]])
# Faça aqui

#### W2.27 Crie um array unidimensional de 120 elementos, cujos valores sejam sequenciais iniciando em 20 e terminando em 139.
#### Dica: use a função np.arange(). Ela tem a mesma sintaxe (argumentos) da função range do python estudada em aula.

In [ ]:
# Faça aqui

#### W2.28 Faltere a estrutura do array do exercício anterior. Transformando-o num array bidimensional de 12 linhas e 10 colunas.
#### Dica: Use o método (função) ndarray.reshape(), passando as dimensões (linhas e colunas) como argumento.

In [ ]:
# Faça aqui

#### W2.29 Selecione os numeros pares do array definido abaixo
#### Dica: pra testar se um número é par, use a seguinte expressão: n % 2 == 0. Neste caso, se n for par o resultado a expressão é True, pois o operador porcentagem (%) retorna o resto da divisão.

In [ ]:
arr = np.arange(100)
# Faça aqui