# Aula 3 - Exercícios - Python e Pandas

In [2]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 3.1 Escreva uma função para retornar os itens de uma determinada série que não estejam presentes em outra série 
#### Exemplo: Considere uma Serie A com os valores [1, 2, 3, 4, 5, 6, 7, 8], e
####          uma Serie B com os valores [2, 4, 6, 8, 10, 12]
#### Resultado Esperado: Uma Serie com os valores [1, 3, 5, 7]

In [3]:
# Dica 1: a função Series.isin() retorna uma Serie de valores booleanos representando a 
#      intersecção da de duas series
# Dica 2: o operador ~ serve para inverter os valores booleanos de uma Serie.
#      Exemplo: 
#        ~pd.Series([True, False]) 
#        0    False
#        1     True
#        dtype: bool

def complemento(s1, s2):
    """retorne os valores do complemento de s1 em relação a s2
    """
    ### BEGIN SOLUTION
    return s1[~s1.isin(s2)]
    ### END SOLUTION

In [4]:
## Faça seus testes aqui
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
complemento(s1,s2)

0    1
2    3
4    5
6    7
dtype: int64

In [5]:
# Validação
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
c12 = pd.Series([1, 3, 5, 7]) 
c21 = pd.Series([10, 12]) 

assert complemento(s1,s2).reset_index()[0].equals(c12)
assert complemento(s2,s1).reset_index()[0].equals(c21)

### 3.2 Escreva uma função para obter os itens que não são comuns em duas séries. Ou seja, estão na uniao mas não na intersecção.
#### Exemplo: Considere uma Serie A com os valores [1, 2, 3, 4, 5, 6, 7, 8], e
####          uma Serie B com os valores [2, 4, 6, 8, 10, 12]
#### Resultado Esperado: Uma Serie com os valores [1, 3, 5, 7,10,12]

In [6]:
# Dica 1: Pense na teoria de conjuntos. Como você faria isso no papel usando um diagrama de Venn.
# Dica 2: Use a função criada no exercicio 3.1
# Dica 3: Use a função np.union1d para calcular a união de duas Series.
#     Exemplo: o código pd.Series(np.union1d(t1, t2)) cria uma Serie resultante da união de t1 e t2

def complemento2(s1, s2):
    """retorne os valores que não são comuns em duas séries
    """
    ### BEGIN SOLUTION
    return pd.Series(np.union1d(complemento(s1, s2), complemento(s2, s1)))
    ### END SOLUTION

In [7]:
## Faça seus testes aqui
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12])

In [8]:
# Validação
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8]) 
s2 = pd.Series([2, 4, 6, 8, 10, 12]) 
c = pd.Series([1, 3, 5, 7, 10, 12]) 

assert complemento2(s1,s2).reset_index()[0].equals(c)

### 3.3 Escreva uma função para selecionar as linhas de um dataframe onde o valor na coluna especificada seja ausente (NA)

In [9]:
def seleciona_null(df, col):
    """retorne as linhas cujo valor na coluna col seja ausente (NA)
    """
    ### BEGIN SOLUTION
    return df[df[col].isnull()]
    ### END SOLUTION

In [10]:
## Faça seus testes aqui

In [11]:
# Validação
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
assert seleciona_null(df, 'score').equals(df.loc[['d', 'h']])

### 3.4 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe, especificando como parâmetros de entrada o nome da coluna, o valor original e o novo valor.
#### Exemplo:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |
| d  | Pedro     |   nan   | no        |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |
| d  | Rafael    |   nan   | no        |

In [12]:
# Dica: Use a função Series.replace. A função replace tem um parâmetro inplace 
#       para modificar o proprio objeto.

def change_value(df, col, orig, new):
    """altere a coluna col do dataframe df substituindo orig por new
    """
    ### BEGIN SOLUTION
    df[col].replace(orig, new, inplace=True)
    return df
    ### END SOLUTION

In [13]:
## Faça seus testes aqui

In [14]:
# Validação
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Rafael', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

assert change_value(df, 'name', 'Pedro', 'Rafael').equals(df2)

### 3.5 Escreva uma função para mudar o conteúdo de uma coluna de um dataframe de valores do tipo string ('yes' ou 'no') para uma coluna do tipo booleano parametrizando no nome da coluna a ser alterada.
#### Exemplo: Considere o dataframe a seguir
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | yes       |
| b  | Maria      |     9   | no        |
| c  | Joao |    16.5 | yes       |

#### Resultado Esperado:
|    | name      |   score | qualify   |
|:---|:----------|--------:|:----------|
| a  | Jose |    12.5 | True      |
| b  | Maria      |     9   | False     |
| c  | Joao |    16.5 | True      |

In [15]:
# Dica: use a função Series.map
def change_yes_no(df, col):
    """altere o data frame na coluna col substituindo 'yes' por True e 'no' por False
    """
    ### BEGIN SOLUTION
    df[col] = df[col].map({'yes': True, 'no': False})
    return df
    ### END SOLUTION

In [16]:
## Faça seus testes aqui

In [17]:
# Validação
exam_data  = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
exam_data2 = {'name': ['Jose', 'Maria', 'Joao', 'Pedro', 'Emilia',
                       'Marcos', 'Mateus', 'Laura', 'Carlos', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'qualify': [True, False, True, False, False, True, True, False, False, True]}
df = pd.DataFrame(exam_data, index=labels) 
df2 = pd.DataFrame(exam_data2, index=labels) 

assert change_yes_no(df, 'qualify').equals(df2)

### 3.6 Escreva uma função para ordenar um DataFrame por colunas (Ex.: [col1, col2,...,colK]), de forma descendente, e retornar as top N linhas do DataFrame ordenado 
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### O código a seguir faz o download deste dataset na forma de um dataframe.

In [18]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [19]:
# Dica 1: Use a função sort_values do DataFrame. 
#         Esta função possui os parâmetros inplace e ascending.

def topN_sorted(df, cols, n):
    """retorne as top n linhas ordenadas por cols
    """
    ### BEGIN SOLUTION
    return df.sort_values(cols, inplace=False, ascending=False)[:n]
    ### END SOLUTION

In [20]:
## Faça seus testes aqui
df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

topN_sorted(diamonds,['price', 'clarity'], 3)

       carat        cut color clarity  depth  table  price     x     y     z
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
27747   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56

In [21]:
# Validação
df = pd.DataFrame({'carat':[2.29, 2.0, 1.51],'cut':['Premium', 'Very Good', 'Ideal'],
                   'color':['I', 'G', 'G'],'clarity':['VS2', 'SI1', 'IF'],
                   'depth':[60.8, 63.5, 61.7],'table':[60.0, 56.0, 55.0],
                   'price':[18823, 18818, 18806],'x':[8.5, 7.9, 7.37],
                   'y':[8.47, 7.97, 7.41],'z':[5.16, 5.04, 4.56]},
                 index=[27749, 27748, 27747])

assert topN_sorted(diamonds,['price', 'clarity'], 3).equals(df)

In [22]:
# Importe as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

### 3.7 Considerando o dataset Diamonds, escreva uma função para retornar as informações dos diamantes que atendam a especificação x > N e y > N e Z > N
#### Use o dataset Diamonds (https://www.kaggle.com/shivam2503/diamonds) 
#### O código a seguir faz o download deste dataset

In [23]:
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [24]:
# Dica 1: Use o operador & (AND) para realizar a conjunção lógica (p ^ q).
#         Use a sintaxe com colchete e parênteses df[(S1) & (S2) & (S3)]

def filter_xyz(df, n):
    """retorne as linhas que atendam a especificação x > n e y > n e Z > n
    """
    ### BEGIN SOLUTION
    return df[(df['x'] > n) & (df['y'] > n) & (df['z'] > n)]
    ### END SOLUTION

In [25]:
## Faça seus testes aqui

In [26]:
# Validação
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
test_data = {'carat': {24067: 2.0}, 'cut': {24067: 'Premium'}, 'color': {24067: 'H'}, 'clarity': {24067: 'SI2'},
 'depth': {24067: 58.9}, 'table': {24067: 57.0}, 'price': {24067: 12210}, 'x': {24067: 8.09}, 'y': {24067: 58.9},
 'z': {24067: 8.06}}

assert filter_xyz(diamonds, 7).to_dict() == test_data